config.py
__pycache__/
config/__init__.py
.vscode/
Pipfile
Pipfile.lock

## Umbra ignores

shitpostbot.pm2config.json
test.py
tox.ini
sample.py

yoink.pm2config.json
Pipfile.lock

## Vim users tm
*.swp