[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
# Discord
# discord-py = "*"
discord-py = {git = "https://github.com/Rapptz/discord.py.git",ref = "master"}
discord-ext-menus = {git = "https://github.com/Rapptz/discord-ext-menus",ref = "master"}
discord-flags = {git = "https://github.com/XuaTheGrate/Flag-Parsing",ref = "master"}
jishaku = "*"

# Others
asyncpg = "*"
psutil = "*"
async-cse = "*"
parsedatetime = "*"
python-dateutil = "*"
pygit2 = "*"
uwuify = "*"
fuzzywuzzy = "*"
numpy = "*"
pillow = "*"
async-cleverbot = "*"
aiogoogletrans = "*"

[requires]
python_version = "3.8"
