# Discord
# discord.py
git+https://github.com/Rapptz/discord.py@master#egg=discord.py
git+https://github.com/Rapptz/discord-ext-menus@master#egg=discord-ext-menus
jishaku

# Others (git)
git+https://github.com/Fogapod/aiogoogletrans#egg=aiogoogletrans

# Others (pypi)
asyncpg
async_cleverbot
async_cse
bs4
fuzzywuzzy
gtts_token
jikanpy
lxml
numpy
nhentai.py
pillow
psutil
rule34
uwuify