# Discord
# discord.py
git+https://github.com/Rapptz/discord.py@master#egg=discord.py
git+https://github.com/Rapptz/discord-ext-menus@master#egg=discord-ext-menus
jishaku

# Others (git)
git+https://github.com/Fogapod/aiogoogletrans

# Others (pypi)
asyncpg
async_cse
fuzzywuzzy
numpy
pillow
async_cleverbot
gtts_token
async_cse
jikanpy
rule34
